<ng-container *ngIf="!item.hidden">
        <li class="nav-item pcoded-menu-caption">
          <label>{{item.title}}</label>
        </li>
        <ng-container *ngFor="let item of item.children">
          <app-mornav-group *ngIf="item.type=='group'" [item]="item">
          </app-mornav-group>
          <app-mornav-collapse *ngIf="item.type=='collapse'" [item]="item">
          </app-mornav-collapse>
          <app-mornav-item *ngIf="item.type=='item'" [item]="item">
          </app-mornav-item>
        </ng-container>
</ng-container>