<div class="container">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td colspan="1">
                <form class="well form-horizontal">
                    <fieldset>
                        <h5 class="text-left">User Personal Details</h5>
                        <div class="form-group userdetails">
                            <label class="col-lg-4 control-label">
                                Full Name
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.fullName=="" ||user.fullName==null)?"---":
                                 (user.fullName)}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Mobile Number
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.mobile=="" ||user.mobile==null)?"---":
                                 (user.mobile)}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Email Id
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.emailId=="" ||user.emailId==null)?"---":
                                 (user.emailId)}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Company Name
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.entity=="" ||user.entity==null)?"---":
                                    (user.entity)}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Address 1
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.address1=="" ||user.address1==null)?"---":
                                 (user.address1)}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Address 2
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.address2=="" ||user.address2==null)?"---":
                                 (user.address2)}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                City
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.city=="" ||user.city==null)?"---":
                                 (user.city)}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Pin Code
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.pin=="" ||user.pin==null)?"---":
                                 (user.pin)}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Registarion Date
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.createdDateTime!=null)?
                                    (user.createdDateTime|date): "---"}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Pan Number
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.pan=="" ||user.pan==null)?"---": 
                                (user.pan)}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Gst
                            </label>
                            <label class="col-md-4 control-label">
                                {{(user.gst=="" ||user.gst==null)?"---": 
                                (user.gst)}}
                            </label>
                        </div>
                    </fieldset>
                </form>
                </td>
                <td colspan="1">
                <form class="well form-horizontal">
                    <fieldset>
                        <h5 class="text-left">Bank Account Details</h5>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Account Name
                            </label>
                            <label class="col-md-4 control-label">
                                {{(accName!=null)?(accName): "---"}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Account Number
                            </label>
                            <label class="col-md-4 control-label">
                                {{(accNo!=null)?(accNo): "---"}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                Branch
                            </label>
                            <label class="col-md-4 control-label">
                                {{(branch!=null)?(branch): "---"}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                IFSC
                            </label>
                            <label class="col-md-4 control-label">
                                {{(ifsc!=null)?(ifsc): "---"}}
                            </label>
                        </div>
                        <div class="form-group userdetails">
                            <label class="col-md-4 control-label">
                                UPI
                            </label>
                            <label class="col-md-4 control-label">
                                {{(upi!=null)?(upi): "---"}}
                            </label>
                        </div>
                    </fieldset>
                </form>
                </td>
            </tr>
        </tbody>
    </table>
    <button class=" btn btn-primary"
    (click)="cancel()">Back</button>
      <!--   <img [src]="getImagesById()" /> -->
</div>