label {
    display: inline-block;
    margin-bottom: 0;
    font-size: small;
}

.user-details {
    -webkit-box-flex: 0;
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: 8px;
}
.col-xl-11 {
    -webkit-box-flex: 0;
    /* flex: 0 0 91.66666667%; */
    max-width: 100%;
    flex-basis: 91.6667%;
    flex-grow: 1;
}

.form-group {
    margin-bottom: 0;
}

.header-icon{
    position: absolute;
    right: 5%;
    
}
.pull-right{
    float: right;
}
.btn-size{
    margin-right: 10px;
    margin-bottom: 5px;
}

.page-header-h6{
    border-bottom: 1px solid #e5e5e5;
}

.mb-3, .my-3 {
    margin-top: 2.5rem !important;
}

.mandatory{
    border-color: #ff0000
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}