<div class="row">
    <!-- order-card start -->
    <div class="col-md-9 col-xl-11" >
      <app-card [hidHeader]="true" [options]="false">
          <div class="row page-header-h6">
            <div class="col-lg-10">
                <h6>Update Machine</h6>
            </div>
            <div class="col-lg-2 ">
                <button class="btn btn-icon btn-primary btn-sm 
                pull-right btn-size" (click)="cancel()">
                    <i class="feather icon-x">
                    </i> 
                </button>
                <button class="btn btn-icon btn-primary btn-sm
                 pull-right btn-size"  (click)="updateMachine()">
                    <i class="feather icon-check" >
                    </i> 
                </button>
            </div>
          </div>
          <form name="form" class="row">
            <div class="col-md-3 user-details">
                <div class="form-group">
                    <label for="typeId"> Type :</label>
                    <select  [disabled]="selectedTypeId" 
                    [(ngModel)]="selectedTypeId"
                    name="typeId" class="form-control" id="typeId">
                        <!--   <option disabled selected value=0> -- Select a Type -- </option> -->
                        <option [ngValue]="k.id"  *ngFor="let k of type"> 
                            {{k.name}} 
                         </option>
                    </select> 
                </div>
                <div class="form-group">
                    <label for="currentMeter"> CurrentMeter :</label>
                     <!-- only numbers will be allowed...include css -->
                    <input type="number" 
                     onkeydown="javascript: return event.keyCode === 8 
                    || event.keyCode === 46 || event.keyCode === 9 ? 
                    true : !isNaN(Number(event.key))"
                     [(ngModel)]="machine.currentMeter" 
                      name="currentMeter" class="form-control" 
                     id="currentMeter" tabindex=2>
                </div> 
                <div class="form-group">
                    <label for="capacity">Capacity :</label>
                    <!-- only numbers will be allowed...include css -->
                    <input type="number"  onkeydown="javascript: 
                    return event.keyCode === 8 
                    || event.keyCode === 46 || event.keyCode === 9 ?
                     true : !isNaN(Number(event.key))"
                     [(ngModel)]="machine.capacity"
                     name="capacity"(focus)="removeMandatory($event)" 
                     class="form-control" id="capacity" tabindex=6>
                </div>   
            </div>    
            <div class="col-md-3 user-details">
                <div class="form-group" *ngIf="machineTypeId == 1">
                    <label for="makeId"> Make :</label>
                    <select [disabled]="selectedMakeId"  
                    [(ngModel)]="selectedMakeId" name="makeId" 
                    (focus)="removeMandatory($event)"
                    (change)="selectedMake($event)" class="form-control" 
                    id="makeId">
                        <option disabled selected value=0>
                             -- Select a Make --
                        </option>
                        <option [ngValue]="k.id"  *ngFor="let k of make"> 
                            {{k.name}}
                        </option>
                    </select>
                </div> 
                <div class="form-group">
                    <label for="vehicleNo"> Vehicle No :</label>
                     <input type="vehicleNo"  name="vehicleNo" 
                     (focus)="removeMandatory($event)"
                    class="form-control" [(ngModel)]="machine.vehicleNo"
                    id="vehicleNo" tabindex=4>
                </div> 
                <div class="form-group">
                    <label for="latitude">Latitude :</label>
                    <input type="latitude"  name="latitude" 
                    class="form-control" [(ngModel)]="machine.latitude"
                    id="latitude" tabindex=4>
                </div> 
            </div> 
            <div class="col-md-3 user-details">
                <div class="form-group" *ngIf="machineTypeId == 1">
                    <label for="modelId"> Model :</label>
                    <select [disabled]="selectedModelId" 
                    [(ngModel)]="selectedModelId" name="modelId" 
                    (focus)="removeMandatory($event)"
                    class="form-control" id="modelId">
                            <option disabled selected value=0>
                                 -- Select a Model -- </option>
                            <option [ngValue]="k.id"  
                            *ngFor="let k of model"> 
                            {{k.model}}  </option>
                    </select>
                </div> 
                <div class="form-group">
                    <label for="engineNo"> Engine No :</label>
                     <input type="engineNo" (focus)="removeMandatory($event)"
                       name="engineNo" 
                    class="form-control"  [(ngModel)]="machine.engineNo"
                    id="engineNo" tabindex=4>
                </div> 
                <div class="form-group">
                    <label for="longitude"> Longitude :</label>
                     <input type="longitude"  name="longitude" 
                    class="form-control"  [(ngModel)]="machine.longitude"
                    id="longitude" tabindex=4>
                </div> 
            </div>
            <div class="col-md-3 user-details"> 
                <div class="form-group">
                    <label for="description">Description:</label>
                    <input type="description"  name="description" 
                    class="form-control" [(ngModel)]="machine.description"
                    id="description" tabindex=4>
                </div>   
                <div class="form-group">
                    <label for="yearId"> Year :</label>
                    <select [(ngModel)]="selectedYearId" name="yearId"
                     (focus)="removeMandatory($event)" (change)="selectedYear($event)"
                      class="form-control" id="yearId" tabindex=5>
                        <option disabled  selected value=null> 
                            -- Select a year -- 
                        </option>
                        <option [ngValue]="k.id" 
                         *ngFor="let k of year">
                          {{k.year}} 
                         </option>
                    </select>
                </div> 
                <div class="form-group custom-control custom-checkbox mb-3" 
                *ngIf="selectedTypeId==2">
                    <input type="checkbox" class="custom-control-input"
                        name="isBreaker" id="isBreaker" [(ngModel)]="isBreaker">
                    <label class="custom-control-label" for="isBreaker">
                        Is Breaker?
                    </label>
                </div>
            </div>
          </form>     
      </app-card>
    </div>
</div>        



