<div class="auth-wrapper">
    <div class="auth-content">
      <div class="card">
        <div class="row align-items-center text-center">
          <div class="col-md-12">
            <div class="card-body">
              <img src="favicon.ico" alt="" class="img-fluid mb-4">
              <h6 class="mb-3 f-w-400">Enter User and Password</h6>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="feather icon-mail">
                      </i>
                  </span>
                </div>
                <input type="email"  name="email"
                [(ngModel)]="email" class="form-control" placeholder="Email address"
                required autofocus>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="feather icon-lock">
                      </i>
                  </span>
                </div>
                <input type="password" class="form-control" 
                id="inputPassword"  name="pass" [(ngModel)]="password"
                placeholder="Password" required>
              </div>
             <!--  <div class="form-group text-left mt-2">
                <div class="checkbox checkbox-primary d-inline">
                  <input type="checkbox" name="checkbox-fill-1" id="checkbox-fill-a1" checked="">
                  <label for="checkbox-fill-a1" class="cr"> Save credentials</label>
                </div>
              </div> -->
              <button class="btn btn-block btn-primary mb-4" (click)="loginAction()">
                  Sign In
              </button>
             <!--  <p class="mb-2 text-muted">Forgot password? <a [routerLink]="['/auth/reset-password']" class="f-w-400">Reset</a></p>
              <p class="mb-0 text-muted">Don’t have an account? <a [routerLink]="['/auth/signup']" class="f-w-400">Signup</a></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  