<ngx-datatable
    class="material server-scrolling-demo"
    [rows]="rows"
    [columns]="cols"
    [columnMode]="ColumnMode.force"
    [headerHeight]="headerHeight"
    [rowHeight]="rowHeight"
    [loadingIndicator]="isLoading"
    [scrollbarV]="true"
    (scroll)="onScroll($event.offsetY)">
    <span *ngIf="id==4">
    <ngx-datatable-column prop="ownerName" name="Owner">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <a href="" routerLink="/admin/user/userdetails/{{row['ownerId']}}" >
                {{row.ownerName}}
            </a>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="uniqeMachineId" name="Machine Id" [width]="250">
    </ngx-datatable-column>
    <ngx-datatable-column prop="vehicleNo"></ngx-datatable-column>
    <ngx-datatable-column prop="engineNo" ></ngx-datatable-column>
 <!--    <ngx-datatable-column prop="model">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ (row.make!=null)?(row.make.type.name):(row.machinetype.name)}}
            </ng-template>
    </ngx-datatable-column> -->
    <ngx-datatable-column prop="createdDateTime" name="Registration Date">
            <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.createdDateTime | date}}
            </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="createdDateTime" name="Updated Date">
            <ng-template let-row="row" ngx-datatable-cell-template>
                    {{row.updatedDateTime | date}}
            </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column  name="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button title="Edit machines"  class="fa fa-check" 
            routerLink="/admin/machine/updatemachine/{{userId}}/{{row['id']}}"
            routerLinkActive="active" style="font-size: 10px">
            </button>
                &nbsp;
            <button title="Edit machines"  class="fa fa-times" 
            routerLink="/admin/machine/updatemachine/{{userId}}/{{row['id']}}"
            routerLinkActive="active" style="font-size: 10px">
            </button>
            &nbsp;
            <button title="Edit machines"  class="fa fa-paperclip" 
            routerLink="/admin/machine/updatemachine/{{userId}}/{{row['id']}}"
            routerLinkActive="active" style="font-size: 10px">
            </button>
        </ng-template>
    </ngx-datatable-column>   
  </span>        
 <!--  <span *ngIf="id==1">
        <ngx-datatable-column prop="ownerName" name="Owner">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <a href="" routerLink="/admin/user/userdetails/{{row['ownerId']}}" >
                    {{row.ownerName}}
                </a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="uniqeMachineId" name="Machine Id" [width]="250">
        </ngx-datatable-column>
        <ngx-datatable-column prop="vehicleNo"></ngx-datatable-column>
        <ngx-datatable-column prop="engineNo" ></ngx-datatable-column>

        <ngx-datatable-column prop="createdDateTime" name="Registration Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.createdDateTime | date}}
                </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column prop="createdDateTime" name="Updated Date">
                <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.updatedDateTime | date}}
                </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column  name="Action">
            <ng-template let-row="row" ngx-datatable-cell-template>
                <button title="Edit machines"  class="fa fa-check" 
                routerLink="/admin/machine/updatemachine/{{userId}}/{{row['id']}}"
                routerLinkActive="active" style="font-size: 10px">
                </button>
            </ng-template>
        </ngx-datatable-column>   
      </span>         
      <span *ngIf="id==3">
            <ngx-datatable-column prop="ownerName" name="Owner">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a href="" routerLink="/admin/user/userdetails/{{row['ownerId']}}" >
                        {{row.ownerName}}
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="uniqeMachineId" name="Machine Id" [width]="250">
            </ngx-datatable-column>
            <ngx-datatable-column prop="vehicleNo"></ngx-datatable-column>
            <ngx-datatable-column prop="engineNo" ></ngx-datatable-column>

            <ngx-datatable-column prop="createdDateTime" name="Registration Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.createdDateTime | date}}
                    </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="createdDateTime" name="Updated Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.updatedDateTime | date}}
                    </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column  name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button title="Edit machines"  class="fa fa-check" 
                    routerLink="/admin/machine/updatemachine/{{userId}}/{{row['id']}}"
                    routerLinkActive="active" style="font-size: 10px">
                    </button>
                </ng-template>
            </ngx-datatable-column>   
      </span>         
      <span *ngIf="id==4">
            <ngx-datatable-column prop="ownerName" name="Owner">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a href="" routerLink="/admin/user/userdetails/{{row['ownerId']}}" >
                        {{row.ownerName}}
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="uniqeMachineId" name="Machine Id" [width]="250">
            </ngx-datatable-column>
            <ngx-datatable-column prop="vehicleNo"></ngx-datatable-column>
            <ngx-datatable-column prop="engineNo" ></ngx-datatable-column>

            <ngx-datatable-column prop="createdDateTime" name="Registration Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.createdDateTime | date}}
                    </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="createdDateTime" name="Updated Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.updatedDateTime | date}}
                    </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column  name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button title="Edit machines"  class="fa fa-check" 
                    routerLink="/admin/machine/updatemachine/{{userId}}/{{row['id']}}"
                    routerLinkActive="active" style="font-size: 10px">
                    </button>
                </ng-template>
            </ngx-datatable-column>   
      </span>         
      <span *ngIf="id==5">
            <ngx-datatable-column prop="ownerName" name="Owner">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <a href="" routerLink="/admin/user/userdetails/{{row['ownerId']}}" >
                        {{row.ownerName}}
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="uniqeMachineId" name="Machine Id" [width]="250">
            </ngx-datatable-column>
            <ngx-datatable-column prop="vehicleNo"></ngx-datatable-column>
            <ngx-datatable-column prop="engineNo" ></ngx-datatable-column>
  
            <ngx-datatable-column prop="createdDateTime" name="Registration Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.createdDateTime | date}}
                    </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="createdDateTime" name="Updated Date">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                            {{row.updatedDateTime | date}}
                    </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column  name="Action">
                <ng-template let-row="row" ngx-datatable-cell-template>
                    <button title="Edit machines"  class="fa fa-check" 
                    routerLink="/admin/machine/updatemachine/{{userId}}/{{row['id']}}"
                    routerLinkActive="active" style="font-size: 10px">
                    </button>
                </ng-template>
            </ngx-datatable-column>   
      </span>          -->
 </ngx-datatable>   