<div class="navbar-wrapper"
 [ngClass]="{'container': this.gradientConfig.layout === 'horizontal'
  && this.gradientConfig.subLayout === 'horizontal-2'}">
        <app-mornavcontent (onNavMobCollapse)="navMobCollapse()">
        </app-mornavcontent>
</div>
              
