<div class="row">
        <!-- order-card start -->
        <div class="col-md-9 col-xl-11" >
          <app-card [hidHeader]="true" [options]="false">
            <div class="row page-header-h6">
                <div class="col-lg-10">
                    <h6>Add Machine</h6>
                </div>
                <div class="col-lg-2 ">
                    <button class="btn btn-icon btn-primary btn-sm 
                    pull-right btn-size" (click)="cancel()">
                        <i class="feather icon-x">
                        </i> 
                    </button>
                    <button class="btn btn-icon btn-primary btn-sm
                        pull-right btn-size" (click)="savedMachine()">
                        <i class="feather icon-plus" >
                        </i> 
                    </button>
                </div>
            </div>
            <form name="form" class="row">
                <div class="col-md-3 user-details">
                    <div class="form-group">
                    <label for="typeId"> Type :</label>
                    <select  [(ngModel)]="selctedType" name="typeId"  
                    (focus)="removeMandatory($event)"
                    (change)="selectedType($event)" class="form-control"
                     id="typeId" tabindex=1>
                        <option disabled selected value=0> -- Select a Machine type -- 
                        </option>
                        <option [ngValue]="k"  *ngFor="let k of type"> {{k.name}}
                        </option>
                    </select>
                    </div>
                </div>
                <div class="col-md-3 user-details" *ngIf="machineTypeId == 1">
                    <div class="form-group">
                        <label for="makeId">Make:</label>
                            <select [(ngModel)]="selectedMakeId" name="makeId"
                             (focus)="removeMandatory($event)"
                             (change)="selectedMake($event)" class="form-control"
                              id="makeId" tabindex=2>
                                <option selected value=0> -- Select a Make -- </option>
                                <option [ngValue]="k.id"  *ngFor="let k of make"> {{k.name}}  </option>
                            </select>
                    </div> 
                </div> 
                <div class="col-md-3 user-details" *ngIf="machineTypeId == 1">
                    <div class="form-group">
                        <label for="modelId">Model:</label>
                        <select [(ngModel)]="selectedModelId" name="modelId" 
                        (focus)="removeMandatory($event)"class="form-control" 
                        id="modelId" tabindex=3>
                            <option selected value=0> -- Select a Model -- </option>
                            <option [ngValue]="k.id"  *ngFor="let k of model">
                            {{k.model}}  </option>
                        </select>
                    </div> 
                </div> 
                <div class="col-md-3 user-details">
                    <div class="form-group">
                        <label for="description">Description:</label>
                            <input type="description" [(ngModel)]="machine.description"
                            name="description" class="form-control" id="description"
                            tabindex=4>
                    </div>
                </div>  
                <div class="col-md-3 user-details">
                    <div class="form-group">
                        <label for="currentMeter">CurrentMeter:</label>
                        <input type="number" onkeydown="javascript: 
                        return event.keyCode === 8|| event.keyCode === 46 || 
                        event.keyCode === 9 ? true : !isNaN(Number(event.key))" 
                        [(ngModel)]="machine.currentMeter" name="currentMeter" 
                        class="form-control" id="currentMeter" tabindex=5>
                    </div>
                </div>  
                <div class="col-md-3 user-details">
                    <div class="form-group">
                        <label for="vehicleNo">VehicleNo:</label>
                        <input type="vehicleNo" [(ngModel)]="machine.vehicleNo" 
                        name="vehicleNo" (focus)="removeMandatory($event)"
                         class="form-control" id="vehicleNo" tabindex=6>
                    </div>
                </div>  
                <div class="col-md-3 user-details">
                    <div class="form-group">
                        <label for="engineNo">EngineNo:</label>
                        <input type="engineNo" [(ngModel)]="machine.engineNo" 
                         name="engineNo"(focus)="removeMandatory($event)"
                          class="form-control" id="engineNo" tabindex=7>
                    </div>
                </div>   
                <div class="col-md-3 user-details">
                    <div class="form-group">
                        <label for="yearId">Year:</label>
                        <select [(ngModel)]="selectedYearId" name="yearId"  
                         (focus)="removeMandatory($event)" (change)="selectedYear($event)" 
                         class="form-control" id="yearId" tabindex=8>
                            <option selected value=null> -- Select a Year -- 
                            </option>
                            <option [ngValue]="k.id"  *ngFor="let k of year">
                            {{k.year}} 
                            </option>
                        </select>
                    </div>
                </div>    
                <div class="col-md-3 user-details">
                    <div class="form-group">
                        <label for="capacity">Capacity:</label>
                        <input type="number"  onkeydown="javascript: return event.keyCode === 8 
                        || event.keyCode === 46 || event.keyCode === 9 ? true :
                        !isNaN(Number(event.key))" [(ngModel)]="machine.capacity"
                        name="capacity"(focus)="removeMandatory($event)"
                        class="form-control" id="capacity" tabindex=9>
                    </div>
                </div>    
                <div class="col-md-3 user-details">
                    <div class="form-group">    
                        <label for="latitude">Latitude:</label>
                        <input type="latitude" [(ngModel)]="machine.latitude"  
                         name="latitude" class="form-control" id="latitude" tabindex=10>
                    </div>
                </div> 
                <div class="col-md-3 user-details">
                    <div class="form-group">    
                        <label for="longitude">Longitude:</label>
                        <input type="longitude" [(ngModel)]="machine.longitude" 
                         name="longitude" class="form-control" id="longitude" tabindex=11>
                    </div>
                </div>    
                <div class="col-md-3 user-details" *ngIf="selectedTypeId==2">
                    <div class="form-group custom-control custom-checkbox mb-3">    
                        <input type="checkbox" class="custom-control-input"
                        name="isBreaker" id="isBreaker" [(ngModel)]="isBreaker">
                        <label class="custom-control-label" for="isBreaker">
                        Is Breaker?
                        </label>
                    </div>
                </div>    
            </form>    
          </app-card>
        </div>
</div>        
