

<ngx-datatable
    class="material server-scrolling-demo"
    [rows]="rows"
    [columns]="cols"
    [columnMode]="ColumnMode.force"
    [headerHeight]="headerHeight"
    [rowHeight]="rowHeight"
    [loadingIndicator]="isLoading"
    [scrollbarV]="true"
    (scroll)="onScroll($event.offsetY)">
    <ngx-datatable-column prop="fullName" name="Name">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <a href="" routerLink="/admin/user/userdetails/{{row['id']}}" >
                {{row.fullName}}
            </a>
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="emailId" [width]="300"></ngx-datatable-column>
    <ngx-datatable-column prop="mobile" ></ngx-datatable-column>
    <ngx-datatable-column prop="createdDateTime" name="Registration Date">
        <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.createdDateTime | date}}
        </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column prop="lastLogInDateTime" name="Last App access">
    <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.lastLogInDateTime | date}}
    </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column  prop="comments" name="Comment">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{row.comments | ellipses: 10 }} 
                <i class="fas fa-pencil-alt"  
                (click)="openModal(viewComment,row)">
                </i>
            </ng-template>  
    </ngx-datatable-column>
    <ngx-datatable-column  name="Action">
        <ng-template let-row="row" ngx-datatable-cell-template>
            <button title="List machines"  class="fa fa-list" 
            (click)="machineList(row)" routerLinkActive="active" 
            style="font-size: 8px">
            </button>
            &nbsp;
            <button title="Edit User" class="fa fa-edit" 
            routerLink="/admin/user/updateuser/{{row.id}}" 
            routerLinkActive="active" 
            style="font-size: 8px">
            </button>
            &nbsp;
            <button title="Add machine"  class="fa fa-plus" 
            routerLink="/admin/machine/addmachine/{{row['id']}}"
            routerLinkActive="active" 
            style="font-size: 8px">
            </button>   
            &nbsp;
            <button title="Delete user"  class="fa fa-trash" 
            style="font-size: 8px">
            </button> 
        </ng-template>
    </ngx-datatable-column>

    <ng-template #viewComment >
            <div class="modal">
                <div class="modal-header" >
                    <h6 class="modal-title pull-left">Add Comments</h6>
                </div>
                <div class="modal-body">
                     Add Comments   
                </div>
                <div class="modal-footer">
                        <button>Close</button>
                </div>
            </div>
        </ng-template>
</ngx-datatable>


<!-- [columnMode]="ColumnMode.force"
[headerHeight]="headerHeight"
[rowHeight]="rowHeight"
[loadingIndicator]="isLoading"
[scrollbarV]="true"
(scroll)="onScroll($event.offsetY)" -->