.server-scrolling-demo {
    height: calc(100vh - 110px);
  }
  
  ::ng-deep .progress-linear {
    position: fixed !important;
    bottom: 0px;
  }

  .ngx-datatable, .info {
    text-align: left;
    width: 100%;
    margin: 0 auto;
}

.ngx-datatable .datatable-header {
  display: inline-table;
  overflow: hidden;
}

.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 2;
}

.pcoded-content {
  position: relative;
  display: block;
  padding: 15px;
}
.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
  text-align: left;
  padding: 0.9rem 2rem;
  vertical-align: top;
  border-top: 0;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
  font-size: 14px;
  font-weight: 400;
}

.datatable-body-cell-label {
  white-space: nowrap;
  text-overflow: ellipsis !important;
  overflow: hidden;
}

