<div class="row">
        <!-- order-card start -->
        <div class="col-md-9 col-xl-11" >
          <app-card [hidHeader]="true" [options]="false">
              <div class="row page-header-h6">
                <div class="col-lg-10">
                    <h6>Update User</h6>
                </div>
                <div class="col-lg-2 ">
                    <button class="btn btn-icon btn-primary btn-sm 
                    pull-right btn-size" (click)="cancel()">
                        <i class="feather icon-x">
                        </i> 
                    </button>
                    <button class="btn btn-icon btn-primary btn-sm
                     pull-right btn-size"  (click)="updateUser()">
                        <i class="feather icon-check" >
                        </i> 
                    </button>
                   
                </div>
              </div>
                <form name="form" class="row">
                    <div class="col-md-3 user-details">
                        <div class="form-group">
                            <label for="fullName"> Name :</label>
                            <input type="fullName"  name="fullName" 
                            class="form-control" [(ngModel)]="user.fullName" 
                            id="fullName" tabindex=1>
                        </div>  
                        <div class="form-group">
                            <label for="entity">Company Name :</label>
                            <input type="entity"  name="entity" 
                            class="form-control" [(ngModel)]="user.entity"
                            id="entity" tabindex=13>
                        </div> 
                        <div class="form-group">
                            <label for="pin"> Pin Code :</label>
                            <input type="pin"  name="pin" 
                            class="form-control" [(ngModel)]="user.pin"
                            id="pin" tabindex=11>
                        </div>
                        <div class="form-group">
                            <label for="branch"> Branch :</label>
                            <input type="branch"  name="branch" 
                            class="form-control" [(ngModel)]="branch"
                            id="branch" tabindex=9>
                        </div> 
                    </div>  
                    <div class="col-md-3 user-details">
                        <div class="form-group">
                            <label for="mobile"> Mobile Number:</label>
                             <input type="mobile"  name="mobile" 
                            class="form-control" [(ngModel)]="user.mobile"
                            id="mobile" tabindex=4>
                        </div> 
                        <div class="form-group">
                            <label for="address1"> Address line 1 :</label>
                            <input type="address1"  name="address1" 
                            class="form-control" [(ngModel)]="user.address1"
                            id="address1" tabindex=2>
                        </div> 
                        <div class="form-group">
                            <label for="gst"> Gst :</label>
                            <input type="gst"  name="gst" 
                            class="form-control" [(ngModel)]="user.gst"
                            id="gst" tabindex=14>
                        </div> 
                        <div class="form-group">
                            <label for="ifsc"> IFSC :</label>
                            <input type="ifsc"  name="ifsc" 
                            class="form-control" [(ngModel)]="ifsc"
                            id="ifsc" tabindex=12>
                        </div> 
                    </div>
                    <div class="col-md-3 user-details">
                        <div class="form-group">
                            <label for="emailId">Email Id:</label>
                            <input type="emailId"  name="emailId" 
                            class="form-control" [(ngModel)]="user.emailId"
                            id="emailId" tabindex=7>
                        </div>
                        <div class="form-group">
                            <label for="address2"> Address line 2 :</label>
                            <input type="address2"  name="address2" 
                            class="form-control" [(ngModel)]="user.address2"
                            id="address2" tabindex=5>
                        </div> 
                        <div class="form-group">
                            <label for="accName"> Account Name :</label>
                            <input type="accName"  name="accName" 
                            class="form-control" [(ngModel)]="accName"
                            id="accName" tabindex=3>
                        </div> 
                        <div class="form-group">
                            <label for="upi"> UPI :</label>
                            <input type="upi"  name="upi" 
                            class="form-control" [(ngModel)]="upi"
                            id="upi" tabindex=15>
                        </div> 
                    </div>
                    <div class="col-md-3 user-details">
                        <div class="form-group">
                            <label for="password">Password :</label>
                            <input type="emailId"  name="password" 
                            class="form-control" [(ngModel)]="user.password"
                            id="password" tabindex=10>
                        </div> 
                        <div class="form-group">
                            <label for="city"> City :</label>
                            <input type="city"  name="city" 
                            class="form-control" [(ngModel)]="user.city"
                            id="city" tabindex=8>
                        </div>  
                        <div class="form-group">
                                <label for="accNo"> Account Number :</label>
                                <input type="accNo"  name="accNo" 
                                class="form-control" [(ngModel)]="accNo"
                                id="accNo" tabindex=6>
                            </div> 
                        <div class="form-group">
                            <label for="pan"> Pan Number :</label>
                            <input type="pan"  name="pan" 
                            class="form-control" [(ngModel)]="user.pan"
                            id="pan" tabindex=16>
                        </div>
                    </div>
                </form>  
          </app-card>
        </div>
</div>        



<!-- <div class="col-md-9">
        <h5 class="text-left">Update User</h5>
           <div class="">
                <form name="form" class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="fullName">Full Name :</label>
                            <input type="fullName" 
                            name="fullName" class="form-control" id="fullName"
                            tabindex=1>
                        </div> 
                    </div>
                </form>
           </div>
</div> -->
