
<app-mornavigation class="pcoded-navbar"
 [ngClass]="{'navbar-collapsed' : navCollapsed, 
 'theme-horizontal': this.gradientConfig['layout'] === 'horizontal',
  'mob-open' : navCollapsedMob}" (onNavMobCollapse)="navMobClick()">
</app-mornavigation>
<app-navbar class="navbar pcoded-header navbar-expand-lg navbar-light"
 (onNavCollapse)="this.navCollapsed = !this.navCollapsed;"
  (onNavHeaderMobCollapse)="navMobClick()"></app-navbar>
<div class="pcoded-main-container">
  <div class="pcoded-wrapper"
   [ngClass]="{'container': this.gradientConfig.layout === 'horizontal'
    && this.gradientConfig.subLayout === 'horizontal-2'}">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-morconfiguration></app-morconfiguration>

